html, div, p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Droid Sans Mono,Menlo,Consolas,Monaco,Lucida Console,Liberation Mono,Courier New, monospace, serif;
    font-size: 13px;
    line-height: 13px;
}

#body_console_wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#body_console {
    overflow: visible;
    position: absolute;
    display: block;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 5px;
    margin-bottom: 3px;
}

#body_console p {
    font-size: 1em;
    line-height: 1em;
}

.flipY, #body_console, #body_console p {
    -moz-transform: scaleY(-1); /* Gecko */
    -o-transform: scaleY(-1); /* Operah */
    -webkit-transform: scaleY(-1); /* webkit */
    transform: scaleY(-1); /* standard */
    filter: FlipV; /* IE 6/7/8 */
}

.theme_default #body_console .normal {
    color: white;
}
.theme_default #body_console .info {
    color: #ddd;
}
.theme_default #body_console .warning {
    color: #aa2;
}
.theme_default #body_console .error {
    color: red;
}
.theme_default #body_console .debug {
    color: purple;
}

#controls {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 300px;
    height: 100px;
    color: white;
}

body.theme_default {
    background-color: black;
    color: white;
}